.datepicker{
  position: relative;
  .datepicker-wrapper{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:100%;
    .c-pane-container{
      box-shadow: 0 2px 14px rgba(0, 0, 0, 0.09);
      border: none;
      background-color: #f6f6f6;
      .c-weekdays{
        .c-weekday{
          text-transform: lowercase;
        }
      }
      .c-weeks{
        .c-weeks-rows-wrapper{
          .c-week{
            .c-day{
              .c-day-content-wrapper{
                .c-day-content{
                  width: 40px;
                  height: 40px;
                  font-family: "Avenir Next Cyr Medium",sans-serif;
                  font-size: 13px;
                  line-height: 12px;
                  font-weight: 500;
                  letter-spacing: -0.2px;
                  border-radius: 2px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

    }
    .c-pane-container > .c-pane{
      .c-header {
        background-color: #fff;
        padding: 20px 18px;
        .c-arrow-layout{
          min-height: 20px;
          min-width: 20px;
          width: 20px;
          svg{
            transform: scale(0.5,0.5);
          }
        }
        .c-title-layout > .c-title-popover{
          color: #41464a;
          font-family: "Avenir Next Cyr Demi",sans-serif;
          font-size: 15px;
          font-weight: 800;
          letter-spacing: -0.23px;
        }
      }
    }
  }

  .datepicker-button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 2px;
    background-color: #d8d8d820;
    padding: 10px 15px;
    color: #41464a;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    font-family: "Avenir Next Cyr Demi", sans-serif;
    svg{
      fill: #41464a;
      stroke: #41464a;
      margin-right: 10px;
      margin-top: -3px;
    }
    &:hover,
    &.datepicker-button__opened{
      background-color: #41464a;
      color: #ffffff;
      svg{
        fill: #fff;
        stroke: #fff;
      }
    }
  }
  .datepicker-year{
    opacity: 0.5;
  }
}
