.right-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.right-buttons-title{
  opacity: 0.5;
  color: #41464a;
  font-family: $medium;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 18px;
  margin-top: 0;
}

.right-buttons-items{
  display: flex;
  height: 25px;
  width: 100%;
}
.right-buttons-item{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-grow: 1;
  color: #41464a;
  font-size: 13px;
  border-radius: 2px;
  font-family: "Avenir Next Cyr Demi", sans-serif;
  background-color: #e6e6e6;
  border: 1px solid #e2e2e2;
  cursor: pointer;
  &.active{
    background-color: #41464a;
    border-color: #41464a;
    color: #ffffff;
  }
  &:focus{
    position: relative;
    z-index: 101;
  }
   &:disabled {
    cursor: default;
    background: #A9A9A9;
  }
}
